{% if messages %}
    {% for message in messages %}
        <div id="messages" class="container" style="padding-top: 30px">
            <div {% if message.tags == 'error' %} class="alert alert-danger" {% elif message.tags == 'warning' %} class="alert alert-warning" {% elif message.tags == 'info' %} class="alert alert-info" {% else %} class="alert alert-success" {% endif %} role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} 
                {% else %}{% endif %}
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}


