{% load static%}



{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FEUT TimeTable Managment System</title>
    <link rel="shortcut icon" href="{% static 'assets/img/logo-small.png' %}">
    <!-- Custom fonts for this template-->
    <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'assets/css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
       
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
              <a class="sidebar-brand d-flex align-items-center" href="#"  >
                <div class="sidebar-brand-icon ">
                    <img  style="width: 12rem;" src="{% static 'assets/images/FEUT-LOGO.PNG' %}">
                </div>
                
            </a>
        
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            
                  <!-- Nav Item - Dashboard -->
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register-user' %}">
                        <i class="fas fa-address-card"></i> 
                        <span> Regjistro User</span></a>
                </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                        <i class="fas fa-edit"></i>
                        
                        <span> Regjistro Pedagog</span></a>
                </li>
    
                <!-- Divider -->
                <hr class="sidebar-divider">
    
                <!-- Heading -->
               <div class="sidebar-heading">
                    <!-- Interface-->
                </div>
    
                <!-- Nav Item - Pages Collapse Menu -->
                <!--<li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Components</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Custom Components:</h6>
                            
                        </div>
                    </div>
                </li>-->
    
                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-money-check-alt"></i>
                        <span>Regjistro Klase</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-file-signature"></i>
                        <span>Krijo orar mesimor</span></a>
                </li>
    
                <!-- Divider -->
                <hr class="sidebar-divider">
    
                <!-- Heading -->
                <div class="sidebar-heading">
                   <!---Addons--> 
                </div>
    
                
       
                {% if request.user.is_staff %} 
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-user-plus"></i>
                        <span>Regjistro user</span></a>
                </li>
                {%endif%}
           

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
           <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
           <!-- <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="{% static 'assets/img/undraw_rocket.svg'%}" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
          
            </div>-->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                   <!-- <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>-->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="modal" data-target="#logoutModal" aria-haspopup="true" aria-expanded="false">
                                
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-blue-400"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                 <!-- <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>-->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid" >

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        
                      
                    </div>

                 

                    <div class="row">
                        <div class="row">
                            <div class="card " >
                                <div class="card-body">
                                    {% include 'alert.html' %}
                                    <h1 class="h3 mb-0 text-gray-800">Krijo orarin</h1>
                                    <br><br>
                                    <form id="myForm" action="" onsubmit="return validateForm()" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Dega</label>
                                                    <select id="Dega" class="form-control" name="Dega" required>
                                                        <option disabled selected value>----</option>
                                                        <!-- Add options dynamically using JavaScript if needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Viti</label>
                                                    <select id="Viti" class="form-control" name="Viti" required>
                                                        <option disabled selected value>----</option>
                                                        <!-- Add options dynamically using JavaScript if needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Lenda</label>
                                                    <select id="Block" class="form-control" name="BlockCus" required>
                                                        <option disabled selected value>--</option>
                                                        <!-- Add options dynamically using JavaScript if needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Klasa</label>
                                                    <select id="District" class="form-control" name="District" required>
                                                        <option disabled selected value>----</option>
                                                        <!-- Add options dynamically using JavaScript if needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Pedagogu</label>
                                                    <select id="District" class="form-control" name="District" required>
                                                        <option disabled selected value>----</option>
                                                        <!-- Add options dynamically using JavaScript if needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Orari i fillimit</label>
                                                    <select id="District" class="form-control" name="District" required>
                                                        <option disabled selected value>----</option>
                                                        <!-- Add options dynamically using JavaScript if needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Orari i mbarimit</label>
                                                    <select id="District" class="form-control" name="District" required>
                                                        <option disabled selected value>----</option>
                                                        <!-- Add options dynamically using JavaScript if needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12" align="right">
                                                <button class="btn btn-primary" type="submit" onclick="confirmAction(event)"><i
                                                        class="fa fa-check"></i> Krijo Kerkesen </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span> Të gjitha të drejtat të rezervuara © <script>document.write(new Date().getFullYear())</script>  FEUT .
     </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Zgjidhni "Logout" më poshtë nëse jeni gati për të përfunduar sesionin tuaj aktual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle change event of the Dega select element
            $("#Dega").on("change", function () {
                updateOptions();
            });
    
            // Handle change event of the Viti select element
            $("#Viti").on("change", function () {
                updateOptions();
            });
    
            function updateOptions() {
                var selectedDega = $("#Dega").val();
                var selectedViti = $("#Viti").val();
    
                // Make an AJAX request to get options based on the selected Dega and Viti
                $.ajax({
                    type: "GET",
                    url: "/get_options/",  // Replace with your Django URL for fetching options
                    data: { dega: selectedDega, viti: selectedViti },
                    success: function (data) {
                        // Update the Block select element with the new options
                        var blockSelect = $("#Block");
                        blockSelect.empty();
                        blockSelect.append('<option disabled selected value>--</option>');
    
                        for (var i = 0; i < data.length; i++) {
                            blockSelect.append('<option value="' + data[i].value + '">' + data[i].text + '</option>');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }
        });
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'assets/js/sb-admin-2.min.js'%}"></script>

</body>
