<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="utf-8" />
    <title>Sign In | NOA - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Layout config Js -->
    <script src="{% static 'assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

</head>

<body class="auth-bg 100-vh">
    <div class="bg-overlay bg-light"></div>

    <div class="account-pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="auth-full-page-content d-flex min-vh-100 py-sm-5 py-4">
                        <div class="w-100">
                            <div class="d-flex flex-column h-100 py-0 py-xl-4">

                                <div class="text-center mb-5">
                                    <a href="index.html">
                                        <span class="logo-lg">
                                            <img src="assets/images/logo-dark.png" alt="" height="21">
                                        </span>
                                    </a>
                                </div>

                                <div class="card my-auto overflow-hidden">
                                        <div class="row g-0">
                                            <div class="col-lg-6">
                                                <div class="p-lg-5 p-4">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">Welcome Back !</h5>
                                                        <p class="text-muted mt-2">Sign in to continue to Invoika.</p>
                                                    </div>
                                                
                                                    <form action="" method="POST" role="form">
                                                        {% csrf_token %}
                                                        <fieldset>
                                                            <div class="form-group" style="margin-bottom: 7%;">
                                                                <input class="form-control" placeholder="username" name="username" type="text" autofocus>
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                                            </div>
                                                            <div class="checkbox" style="margin-top: 2%;" >
                                                                <label>
                                                                    <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                                                </label>
                                                            </div>
                                                            <!-- Change this to a button or input when using this as a form -->
                                                            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                                                       
                                                        <span style="color: transparent;">
                                                            
                                                        </span>
                                                    </form>
                                
                                                </div>
                                            </div>
                
                                            <div class="col-lg-6">
                                                <div class="d-flex h-100 bg-auth align-items-end">
                                                    <div class="p-lg-5 p-4">
                                                        <div class="bg-overlay bg-primary"></div>
                                                        <div class="p-0 p-sm-4 px-xl-0 py-5">
                                                            <div id="reviewcarouselIndicators" class="carousel slide auth-carousel" data-bs-ride="carousel">
                                                                <div class="carousel-indicators carousel-indicators-rounded">
                                                                    <button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                                    <button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                                    <button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                                </div>
                                                            
                                                                <!-- end carouselIndicators -->
                                                               
                                                                <!-- end carousel-inner -->
                                                            </div>
                                                            <!-- end review carousel -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                    </div>
                                </div>
                                <!-- end card -->
                                
                                <div class="mt-5 text-center">
                                    <p class="mb-0 text-muted">©
                                        <script>document.write(new Date().getFullYear())</script> Invoika. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js-' %}"></script>
    <script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>

    <!-- password-addon init -->
    <script src="{% static 'assets/js/pages/password-addon.init.js' %}"></script>

</body>

</html>